<div class="flash">
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="title mx-auto">
      <h1>Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
    </div>
  </div>
</div>
