<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6" >
      <h1>Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!!</h1>
      <p>in <i class="fas fa-book"></i><strong>Bookers</strong>,</p>
      <p>You can share and exchange your opinions, inpressions, and emotions</p>
      <p>about various books!</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <div class="btn btn-login">
            <%= link_to "Log in", new_user_session_path  %>
          </div>
          <div class="btn btn-signup">
            <%= link_to "Sign up", new_user_registration_path %>
          </div>
        </div>
      </div>
  </div>
</div>
