// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn {
  display: block;
  width: 100%;
}

.btn-login {
  color: white;
  background-color: #17a2b8;
}